<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Amimusa: El espacio de las musas{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Caveat+Brush' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
        <style type="text/css">
            body {
                background-image: url('/img/background.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
            header {
                /*margin: auto;*/
                margin: 0 0 2em 0;
                width: 100%;
            }
            header p {
                font-family: 'Walter Turncoat', cursive;
                font-size: 4em;
                color: #1a82f7;
                margin: 0 0 0 0.6em;
                text-shadow: -1px -1px 3.4px #d2d2d2;
            }
            header small {
                color: #929292;
                font-family: 'Poiret One', cursive;
                font-size: 1em;
                display: inline-block;
                text-shadow: -1px -1px 1.4px #2d2d2d;
            }
            header a {
                float: right;
                font-family: 'Walter Turncoat', cursive;
                text-decoration: none;
                color: #d2d2d2;
                font-size: 1em;
                padding: 0.4em;
                background-color: rgba(3, 85, 176, 0.8);
                border-radius: 2.5em;
                border-top: 1px solid #d2d2d2;
                border-bottom: 1px solid #d2d2d2;
            }


        </style>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                {#
                <div style="float: right">
                    <a href="{{ path('new-publication') }}">Me siento inspirado</a>
                </div>
                #}

                <p>Amimusa:&nbsp;<small>comparte tu inspiración</small></p>
            {% endblock %}
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
