{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <div id="container">
        <div id="formWrapper">
            <!-- Mobile disposition -->
            <div id="mobileWrapper">
                {% include "default/writting_form_mobile.html.twig" %}
            </div>

            <!-- Desktop disposition -->
            <div id="desktopWrapper">
                {% include "default/writting_form_desktop.html.twig" %}
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/common.js"></script>
    <script src="/assets/publication-handler.js"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            // Crear un array con todas las musas disponibles en el sistema
            var musas = [];
            var musasList = [];
            {% for m in musas %}
            var obj = {
                'name': '{{ m.name|replace({"\n":""}) }}',
                'id': {{ m.id }}
            }
            musas.push(obj);
            musasList.push('{{ m.name|replace({"\n":""}) }}');
            {% endfor %}

            var musasId = $("#form_musasid_list").val().split(",");
            for (var i = 0; i < musas.length; i++) {
                $("#musas").createMusa({id: musas[i].id, name: musas[i].name});
                if (-1 != $.inArray(musas[i].id.toString(), musasId)) {
                    $("#musas-list").renderMusa({id:musas[i].id, name: musas[i].name});
                }
            }
            $( "#formDesktop_musas" ).autocomplete({
                source: musasList
            });
            $( "#formMobile_musas" ).autocomplete({
                source: musasList
            });
        });

    </script>
{% endblock %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/publication.css" rel="stylesheet">
{% endblock %}
