{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
    <div id="container">
        <div id="formWrapper">
        
        <div class="row">
            <!-- Mobile disposition -->
            <div id="mobileWrapper">
                {% include "default/writting_form_mobile.html.twig" %}
            </div>

            <!-- Desktop disposition -->
            <div id="desktopWrapper">
                {% include "default/writting_form_desktop.html.twig" %}
            </div>



        </div>

        
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/publication-handler.js"></script>

    <script type="application/javascript">
        $(document).ready(function(){
            var musas = [];
            {% for m in musas %}
            var obj = {
                'name': '{{ m.name|replace({"\n":""}) }}',
                'id': {{ m.id }}
            }
            musas.push(obj);
            {% endfor %}

            for (var i = 0; i < musas.length; i++) {
                $("#musas").createMusa({id: musas[i].id, name: musas[i].name});
            }
            $("#form_musasid_list").val('');
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/publication.css" rel="stylesheet">
{% endblock %}
