html {
    font-size: 1em;
    height: 100%;
}
body {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #2d2d2d;
    font-size: 1em;
}
#container {
    margin: auto;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
}
#formWrapper {
    width: 90%;
    margin: auto auto;
    padding-top: 2em;
}
#formWrapper ul {
    list-style: none;
    list-style-position: outside;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #f2dede;
}
#formWrapper li {
    color: red;
    font-size: 1.2em;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
#formWrapper li::before {
    font-family: "Glyphicons Halflings";
    content:"\e086";
    margin-right: 5px;
}
#formWrapper p.form-message {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    padding-top: 5px;
    display: inline-block;
}
#formWrapper label {
    font-size: 2em;
    text-shadow: 0px 1px 1px #d2d2d2;
    color: #222;
}
.add-musa,
.remove-musa {
    cursor: pointer;
    padding-left: 5px;
}
.body-writting {
    resize: none;
    width: 100%;
}
#musas {
    height: 325px;
    overflow-x: hidden;
    overflow-y: auto;

}
#musas-list {
    height: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}


@media only screen
and (min-width : 320px)
and (max-width : 480px) {

    #formWrapper label {
        font-size: 1em;
    }

    #formWrapper p {
        font-size: 0.7em;
    }

    #container {
        width: 320px;
    }

    #musas h4 {
        font-size: 0.8em;
        margin: 0.2em;
        float: left;
    }

    #musas {
        height: 150px;
    }

    #musas-list h4 {
        font-size: 0.8em;
        margin: 0.2em;
        float: left;
    }

}

@media only screen
and (min-width : 320px)
and (max-width : 768px) {

    #formWrapper label {
        font-size: 1em !important;
    }

    #container {
        width: 320px;
    }

    /*
    .bx-wrapper .bx-viewport {
        border-radius: 5px;
    }
    */
}