/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 359px)  {
/* Styles */
    header {
        margin: 0 0 0.4em 0;

    }
    header p {
        font-size: 1.6em;
        margin: 0.2em 0 0 0;

    }
    header a {
        font-size: 1em;

    }
    /*
    #login {
    	font-size: 0.7em !important;
    	color: #d2d2d2;
    }
	#login a {
	    text-decoration: none;
	    color: #d2d2d2;
	}
    #username,
    #password {
        width: 8em;
        font-size: 0.8em;
        color: #d2d2d2;
        border-bottom: 1px solid #a2a2a2;
    }
    #loginWrapper span {
        font-size: 0.8em;
        color: #d2d2d2;
    }
    #loginWrapper span a {
        font-size: 1em;
        color: #d2d2d2;
    }
    #_submit {
        font-size: 0.8em;
        color: #d2d2d2;
    }
    */
    #loginWrapper span {
      float: left;
      margin: 0.6em 0;
    }    
    #loginWrapper input {
        display: block;
    }
    #username,
    #password {
        width: 100%;
        margin: 1em 0;
    }

    #_submit {
      background-color: rgba(3, 85, 176, 0.8);
      border: 1px solid #d2d2d2;
      color: #d2d2d2;
      font-family: "Poiret One",cursive;
      font-size: 1.2em;
      font-weight: bold;
      float: right;
      margin-top: 0.6em;
    }

    .titlesWrapperContent a {
    	font-size: 0.8em;
    }

    #formWrapper label {
        margin: 0;
    }
    #formWrapper label:after {
        content: ":";
    }

    #formWrapper input[type=text],
    #formWrapper input[type=password],
    #formWrapper input[type=email] {
    	display: block;
        width: 100%;
    }


    .bxslider .writtingWrapper p {
        max-height: 150px !important;
        font-size: 0.7em !important;
    }
    .bxslider .writtingWrapper h1 {
        font-size: 1.2em !important;
    }

    .hiddenText {
    	display: none !important;
    }

    #wrapper h1 {
    	font-size: 1em;
    }

    .fos_user_user_show {
        height: 240px; 
    }

    .fos_user_user_show td {
        font-size: 0.6em;
    }

    .fos_user_user_show img {
        width: 12px;
    }

	#container-centered {
	    top: 0;
	    left: 0;
	    margin: 0;
	    transform: translate(0, 0);
	    position: static;
	}

    .row {
    	margin: 0 !important;
    }

    #formWrapper #mobileWrapper {
    	height: 340px !important;
    	overflow-y: auto;
    	margin: 0 !important;
    	padding: 10px;
    }

    #formWrapper #mobileWrapper label {
    	font-size: 1.4em;
    }
    #formWrapper #mobileWrapper  textarea.body-writting {
    	height: 100px;
    }
    .form-group {
    	margin-bottom: 0 !important;
    }
	#formWrapper #mobileWrapper h4 {
    	margin: 5px 0;
    }    

	#musas-list {
		height: auto;
	}

	#mobileWrapper {
		display: block;
	}
	#desktopWrapper {
		display: none;
	}


}
/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 360px) and (max-device-width : 480px)  {
/* Styles */
    header {
        margin: 0 0 0.4em 0;

    }
    header p {
        font-size: 1.6em;
        margin: 0.2em 0 0 0;

    }
    header a {
        font-size: 1em;

    }
    /*
    #login {
    	font-size: 0.7em !important;
    	color: #d2d2d2;
    }
	#login a {
	    text-decoration: none;
	    color: #d2d2d2;
	}
    #username,
    #password {
        width: 8em;
        font-size: 0.8em;
        color: #d2d2d2;
        border-bottom: 1px solid #a2a2a2;
    }
    #loginWrapper span {
        font-size: 0.8em;
        color: #d2d2d2;
    }
    #loginWrapper span a {
        font-size: 1em;
        color: #d2d2d2;
    }
    #_submit {
        font-size: 0.8em;
        color: #d2d2d2;
    }
    */

    #loginWrapper span {
      float: left;
      margin: 0.6em 0;
    }    
    #loginWrapper input {
        display: block;
    }
    #username,
    #password {
        width: 100%;
        margin: 1em 0;
    }

    #_submit {
      background-color: rgba(3, 85, 176, 0.8);
      border: 1px solid #d2d2d2;
      color: #d2d2d2;
      font-family: "Poiret One",cursive;
      font-size: 1.2em;
      font-weight: bold;
      float: right;
      margin-top: 0.6em;
    }

    #formWrapper label {
        margin: 0;
    }
    #formWrapper label:after {
        content: ":";
    }

    #formWrapper input[type=text],
    #formWrapper input[type=password],
    #formWrapper input[type=email] {
    	display: block;
        width: 100%;
    }


    .bxslider .writtingWrapper p {
        max-height: 280px !important;
        font-size: 0.8em !important;
    }
    .bxslider .writtingWrapper h1 {
        font-size: 1.4em !important;
    }

    .hiddenText {
    	display: none !important;
    }


    .fos_user_user_show {
        height: 260px; 
    }

	#container-centered {
	    top: 0;
	    left: 0;
	    margin: 0;
	    transform: translate(0, 0);
	    position: static;
	}

    .row {
    	margin: 0 !important;
    }

    #formWrapper #mobileWrapper {
    	height: 480px;
    	overflow-y: auto;
    	margin: 0 !important;
    	padding: 10px;
    }

    #formWrapper #mobileWrapper label {
    	font-size: 1.4em;
    }
    #formWrapper #mobileWrapper  textarea.body-writting {
    	height: 140px;
    }
    .form-group {
    	margin-bottom: 0 !important;
    }
	#formWrapper #mobileWrapper h4 {
    	margin: 5px 0;
    }    

	#musas-list {
		height: auto;
	}

	#mobileWrapper {
		display: block;
	}
	#desktopWrapper {
		display: none;
	}


}
/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 480px) and (max-device-width : 640px) {
    header {
        margin: 0 0 0.4em 0;

    }
    header p {
        font-size: 1.6em;
        margin: 0.2em 0 0 0;

    }
    header a {
        font-size: 1em;

    }
    /*
    #username,
    #password {
        width: 8em;
        font-size: 0.8em;
        color: #555;
        border-bottom: 1px solid #555;
    }
    #loginWrapper span {
        font-size: 0.8em;
        color: #555;
    }
    #loginWrapper span a {
        font-size: 1em;
        color: #555;
    }
    #_submit {
        font-size: 0.8em;
        color: #555;
    }
    */
    #loginWrapper span {
      float: left;
      margin: 0.6em 0;
    }    
    #loginWrapper input {
        display: block;
    }
    #username,
    #password {
        width: 100%;
        margin: 1em 0;
    }

    #_submit {
      background-color: rgba(3, 85, 176, 0.8);
      border: 1px solid #d2d2d2;
      color: #d2d2d2;
      font-family: "Poiret One",cursive;
      font-size: 1.2em;
      font-weight: bold;
      float: right;
      margin-top: 0.6em;
    }

	.bx-wrapper .bx-viewport {
		height: 210px !important; 
	}



    .bxslider .writtingWrapper p {
        max-height: 60px !important;
        font-size: 0.8em !important;
    }
     .bxslider .writtingWrapper h1 {
        font-size: 1.4em !important;
    }
	.musa-title {
		font-size: 1.2em !important;
	}
	.titles {
		font-size: 0.8em !important;
	}
	.titlesWrapper {
		overflow-y: auto;
	}
	.titlesWrapperContent {
		height: 170px;
	}

    .fos_user_user_show {
        height: 110px; 
    }


	#container-centered {
	    top: 0;
	    left: 0;
	    margin: 0;
	    transform: translate(0, 0);
	    position: static;
	}



    .row {
    	margin: 0 !important;
    }

    #formWrapper #desktopWrapper {
    	height: 210px;
    	overflow-y: auto;
    	margin: 0 !important;
    	padding: 0 !important;
    }

    #formWrapper #desktopWrapper label {
    	font-size: 1em;
    }
    #formWrapper #desktopWrapper  textarea.body-writting {
    	height: 110px;
    }
    #formWrapper #desktopWrapper #musas,
    #formWrapper #desktopWrapper  p.form-message {
    	display: none;
    }

    
    .form-group {
    	margin-bottom: 0 !important;
    }
	#formWrapper #desktopWrapper h4 {
    	margin: 5px 0;
    }    

	#musas-list {
		height: auto;
	}

	#mobileWrapper {
		display: none;
	}
	#desktopWrapper {
		display: block;
	}


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 480px) and (max-device-width : 640px)  {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
/*
    #username,
    #password {
        color: #d2d2d2 !important;
        border-bottom: 1px solid #d2d2d2;
    }
    #loginWrapper span {
        color: #d2d2d2 !important;
    }
    #loginWrapper span a {
        color: #d2d2d2 !important;
    }
    #_submit {
        color: #555 !important;
    }
    */
    #loginWrapper span {
      float: left;
      margin: 0.6em 0;
    }    
    #loginWrapper input {
        display: block;
    }
    #username,
    #password {
        width: 100%;
        margin: 1em 0;
    }

    #_submit {
      background-color: rgba(3, 85, 176, 0.8);
      border: 1px solid #d2d2d2;
      color: #d2d2d2;
      font-family: "Poiret One",cursive;
      font-size: 1.2em;
      font-weight: bold;
      float: right;
      margin-top: 0.6em;
    }

    .bxslider .writtingWrapper p {
        max-height: 560px !important;
    }

     .fos_user_user_show {
        height: 560px !important; 
    }

	#container-centered {
	    top: 0;
	    left: 0;
	    margin: 0;
	    transform: translate(0, 0);
	    position: static;
	}



    .row {
    	margin: 0 !important;
    }

    #formWrapper #desktopWrapper {
    	height: 480px;
    	overflow-y: auto;
    	margin: 0 !important;
    	padding: 0 !important;
    }

    #formWrapper #desktopWrapper label {
    	font-size: 1em;
    }
    #formWrapper #desktopWrapper  textarea.body-writting {
    	height: 310px;
    }
    #formWrapper #desktopWrapper #musas,
    #formWrapper #desktopWrapper  p.form-message {
    	display: none;
    }

    
    .form-group {
    	margin-bottom: 0 !important;
    }
	#formWrapper #desktopWrapper h4 {
    	margin: 5px 0;
    }    

	#musas-list {
		height: auto;
	}

	#mobileWrapper {
		display: none;
	}
	#desktopWrapper {
		display: block;
	}



}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
    /*
    #password {
        color: #555 !important;
        border-bottom: 1px solid #555;
    }
    #username {
        color: #d2d2d2 !important;
        border-bottom: 1px solid #d2d2d2;
    }

    #loginWrapper span {
        color: #555 !important;
    }
    #loginWrapper span a {
        color: #555 !important;
    }
    #_submit {
        color: #555 !important;
    }
    */
    #loginWrapper span {
      float: left;
      margin: 0.6em 0;
    }    
    #loginWrapper input {
        display: block;
    }
    #username,
    #password {
        width: 100%;
        margin: 1em 0;
    }

    #_submit {
      background-color: rgba(3, 85, 176, 0.8);
      border: 1px solid #d2d2d2;
      color: #d2d2d2;
      font-family: "Poiret One",cursive;
      font-size: 1.2em;
      font-weight: bold;
      float: right;
      margin-top: 0.6em;
    }

    .bxslider .writtingWrapper p {
        max-height: 370px !important;
    }

    .fos_user_user_show {
        height: 380px !important; 
    }

	.bx-wrapper .bx-viewport {
	    width: 940px !important;
	}

	#container-centered {
	    top: 250px;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -250px);
	    position: absolute;
	    z-index: 100;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */

    #loginWrapper span {
      float: left;
      margin: 0.6em 0;
    }    
    #loginWrapper input {
        display: block;
    }
    #username,
    #password {
        width: 100%;
        margin: 1em 0;
    }

    #_submit {
      background-color: rgba(3, 85, 176, 0.8);
      border: 1px solid #d2d2d2;
      color: #d2d2d2;
      font-family: "Poiret One",cursive;
      font-size: 1.2em;
      font-weight: bold;
      float: right;
      margin-top: 0.6em;
    }


	.bx-wrapper .bx-viewport {
		height: 390px !important; 
	}
    .bxslider .writtingWrapper p {
        max-height: 220px !important;
    }
    .fos_user_user_show {
        height: 280px !important; 
    }
/*
	#container-centered {
	    top: 0;
	    left: 0;
	    margin: 0;
	    transform: translate(0, 0);
	    position: static;
	}	
*/


    .row {
    	margin: 0 !important;
    }

    #formWrapper #desktopWrapper {
    	height: 360px;
    	overflow-y: auto;
    	margin: 0 !important;
    	padding: 0 !important;
    }

    #formWrapper #desktopWrapper label {
    	font-size: 1em;
    }
    #formWrapper #desktopWrapper  textarea.body-writting {
    	height: 220px;
    }
    #formWrapper #desktopWrapper #musas,
    #formWrapper #desktopWrapper  p.form-message {
    	display: none;
    }

    
    .form-group {
    	margin-bottom: 0 !important;
    }
	#formWrapper #desktopWrapper h4 {
    	margin: 5px 0;
    }    

	#musas-list {
		height: auto;
	}

	#mobileWrapper {
		display: none;
	}
	#desktopWrapper {
		display: block;
	}


}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */

    #loginWrapper span {
      float: left;
      margin: 0.6em 0;
    }    
    #loginWrapper input {
        display: block;
    }
    #username,
    #password {
        width: 100%;
        margin: 1em 0;
    }

    #_submit {
      background-color: rgba(3, 85, 176, 0.8);
      border: 1px solid #d2d2d2;
      color: #d2d2d2;
      font-family: "Poiret One",cursive;
      font-size: 1.2em;
      font-weight: bold;
      float: right;
      margin-top: 0.6em;
    }

	.bx-wrapper .bx-viewport {
		height: 720px !important; 
	}
    .bxslider .writtingWrapper p {
        max-height: 540px !important;
        font-size: 1.4em !important;
    }
    .bxslider .writtingWrapper h1 {
        font-size: 1.8em !important;
    }
    .fos_user_user_show {
        height: 580px !important; 
    }
	#container-centered {
	    top: 250px;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -250px);
	    position: absolute;
	    z-index: 100;
	}



    .row {
    	margin: 0 !important;
    }

    #formWrapper #desktopWrapper {
    	height: 720px;
    	overflow-y: auto;
    	margin: 0 !important;
    	padding: 0 !important;
    }

    #formWrapper #desktopWrapper label {
    	font-size: 1em;
    }
    #formWrapper #desktopWrapper  textarea.body-writting {
    	height: 500px;
    }
    #formWrapper #desktopWrapper #musas,
    #formWrapper #desktopWrapper  p.form-message {
    	display: none;
    }

    
    .form-group {
    	margin-bottom: 0 !important;
    }
	#formWrapper #desktopWrapper h4 {
    	margin: 5px 0;
    }    

	#musas-list {
		height: auto;
	}

	#mobileWrapper {
		display: none;
	}
	#desktopWrapper {
		display: block;
	}


}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

