#container {
    margin: auto auto;
    width: 100%;
    min-height: 480px;
    position: relative;
}
#container-centered {
    /*top: 50%;*/
    top: 250px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -250px);
    position: absolute;
}
.bx-wrapper {
    margin: 0 !important;
}
.bxslider h2 {
    font-family: 'Poiret One', cursive;
    font-size: 1em;
    text-shadow: 0 0.4em 0.4em #4d4d4d;
    color: #2d2d2d;
}

.bxslider h1 {
    font-family: 'Poiret One', cursive;
    color: #fff;
    text-shadow: -1px -1px 1.4px #000;
    clear: both;
    text-align: center;
}
.musa-title {
    font-family: 'Poiret One', cursive;
    font-size: 1.6em !important;
}
.titles {
    font-family: 'Special Elite', cursive;
    font-size: 1.2em;
    color: #2d2d2d;
    text-shadow: -1px -1px 1.4px #fff;
    display: block;
    cursor: pointer;
}
.titlesWrapper {
    float: left;
    /*margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 5px;*/
    width: 280px;
    background: rgba(255,255,255,0.75) !important;
    padding: 1em;
    display: none;
    border-radius: 25px 0 0 0;
}
.titlesWrapper a {
    text-decoration: none;
    padding: 2px;
}
.titlesWrapper a:hover {
    color: #0088CC;
}
.active {
    color: #1E365C;
    font-weight: bold;
    outline: 0;
}
.bxslider a {
    color: #2d2d2d;
    text-decoration: none;
    text-transform: lowercase;
    outline: 0;
}
.bxslider a:hover {
    text-decoration: underline;
}

.bxslider .writtingWrapper {
    font-family: 'Special Elite', cursive;
    font-size: 1.2em;
    color: #2d2d2d;
    /*width: 80%;*/
    width: 940px;
    /*margin-left: 10%;*/
}
.bx-wrapper .bx-viewport {
    background: rgba(255,255,255,0.75) !important;
    /*border: 0.1em solid #969696 !important;*/
    border: 0 none !important;
    box-shadow: 0 0 0 0 !important;
    border-radius: 0 5px 5px 5px;
}

.bx-wrapper .contributorWrapper {
    border-top: 1px solid #2d2d2d;
    position: absolute;
    bottom: 0.4em;
    left: 51em;
}

.bx-wrapper .socialWrapper {
    margin-left: 1em;
    float: left;
}

.like,
.share {
    font-family: 'Poiret One', cursive;
    color: #fff;
    text-shadow: -1px -1px 1.4px #d2d2d2;
    padding: 0 1em 0 1em;
    display: inline-block;
    cursor: pointer;
    background-color: #5372C7;
    border-radius: 0.4em;
}

.like:hover,
.share:hover {
    background-color: #4d85c7;
}

.contributorWrapper img,
.like img,
.share img {
    display: inline-block !important;
    margin-right: 1em;
}

.likes {
    text-align: left;
    font-family: 'Poiret One', cursive;
    clear: both;
    margin-left: 1em;

}

span.back-link {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: -10px;
}

a.back-link {
    float: right;
    font-family: 'Poiret One', cursive;
    font-size: 1.2em;
    margin-right: 5px;
    margin-top: -10px;

}
a.back-link:hover {
    color: #000;
}

.op-link a {
    text-decoration: none;
    display: inline-block;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #d2d2d2;
}

.edit a {
    text-shadow: 0px 0.4em 0.4em #4d4d4d;
}

.delete a {
    text-shadow: 0px 0.4em 0.4em #6E0008;
}

#mobile-menu {
    font-family: 'Poiret One', cursive;
    font-size: 1.6em;
    background: rgba(255,255,255,0.75);
    display: inline-block;
    margin-left: -0.2em;
    cursor: pointer;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    span.back-link {
        left: 90%;
        top: -1%;
    }

    .bx-wrapper .musasWrapper {
        position: absolute;
        top: -7%;
        left: 0.1em;
    }
    .bx-wrapper {
        font-size: 0.9em;
        width: 360px;
    }

    .titlesWrapper {
        display: none;
        font-size: 0.8em;
        position: absolute;
        top: 32px;
        left: -5px;
        z-index: 100;
        background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0 !important;
        border-radius: 0;
        width: 100%;
    }
    .bxslider .writtingWrapper {
        width: 100%;
    }
    .socialWrapper img {
        width: 12px;
    }

    .contributorWrapper img {
        width: 20px;
    }

    #formWrapper label {
        font-size: 1em;
    }

    /*
    .bx-wrapper .bx-viewport {
        border-radius: 5px;
    }
    */
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 768px) {

    span.back-link {
        left: 90%;
        top: -1%;
    }

    .bx-wrapper {
        font-size: 0.8em;
        width: 320px;
    }

    .titlesWrapper {
        display: none;
        font-size: 0.8em;
        position: absolute;
        top: 32px;
        left: -5px;
        z-index: 100;
        background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0 !important;
        border-radius: 0;

    }
    .bxslider .writtingWrapper {
        width: 100%;
    }
    .bx-wrapper .contributorWrapper {
        position: static;
        float: right;
        border-top: 1px solid #2d2d2d;
        bottom: 0;
        left: 0;
        margin-right: 0.3em;
    }

    .socialWrapper img {
        width: 12px;
    }

    .contributorWrapper img {
        width: 20px;
    }

    #formWrapper label {
        font-size: 1em !important;
    }

    #container {
        width: 320px;
    }

    /*
    .bx-wrapper .bx-viewport {
        border-radius: 5px;
    }
    */
}
